body, h1, h2, h3, p, div {
    box-sizing: border-box;
}

header{
    font-size: 20px;
    font-weight: bold;
    text-align:center;
    margin: 20px;
}

.mainSection
{
    font-family: Arial;
    padding: 20px;
}
.section{
  background-color: #f9f9f9;
  border: 1px solid black;
  padding: 20px;
  margin-right: auto;
  margin: 10px;
  position: relative;
  display: inline-block;
}
.title {
    position: absolute;
    top:0px;
    right:0px;
    background-color: #ffcc00; /* Set background color for section titles */
    padding: 5px 10px;
    border: 1px solid black;
    font-size: 125%; /* 25% larger font size than dummy text */
}

.content{
    margin-top: 10px;
    padding: 15px;
}


#chicken{

    background-color: red;
}

#beef{
    background-color: blue;
}

#sushi{
    background-color: aqua;
}





@media (min-width: 992px) {
    .section {
      width: 30%; 
    }
  }


@media (min-width: 768px) and (max-width: 991px) {
    #block1 , #block2 {
        width: 40%;
        float : left;
  }

  #block3{
          width: 100%;
        }
}


@media (max-width: 767px){
    .section {
      width: 100%;
      float: left;
    }
}
